# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / Angular
node_modules/
dist/
tmp/
out-tsc/
.angular/cache/

# Flutter
.dart_tool/
build/
*.iml

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
